.configuration-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.configuration-item {
  background-color: #fff;
  margin-bottom: 1.5rem;
  padding: .75rem;

  h4 {
    color: $color-primary;
    margin-bottom: .75rem;
  }

  .author {
    font-weight: 600;
  }
}
