.page-header {
  background-color: #fff;
  border-bottom: 1px solid $color-quinary;
  display: flex;
  height: 3.125rem;
  justify-content: space-between;
  padding: .75rem;

  a {
    align-items: center;
    display: flex;
    width: fit-content;
  }

  img {
    height: 3.75rem;
    position: relative;
    top: .75rem;
    z-index: 1;
  }

  h4 {
    font-style: italic;
    margin: 0;
  }
}
