.page-footer {
  align-items: center;
  background-color: #fff;
  border-top: 1px solid $color-quinary;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  padding: .15rem .75rem;
  width: 100%;

  img {
    height: 1.25rem;
    margin-left: .75rem;
  }
}
