.steps-content {
  display: grid;
  grid-template-columns: minmax(300px, 20%) 1fr;

  aside {
    background-color: $color-primary;
    color: #fff;
  }

  .content {
    padding: 1.25rem;
  }
}

.steps-container {
  background-color: $color-primary;
  padding: 2rem .75rem .75rem;
}

.steps-list {
  counter-reset: steps;
  list-style: none;
}

.steps-step {
  counter-increment: section;
  margin-bottom: 1rem;
  opacity: .7;
  padding-left: 2.5rem;
  padding-top: .15rem;
  position: relative;
  transition: opacity .3s ease;

  &.active {
    opacity: 1;
  }

  &::before {
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    content: counter(section);
    display: block;
    height: 2rem;
    justify-content: center;
    left: 0;
    line-height: 1.75rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2rem;
  }

  h4 {
    margin-bottom: 0;
  }

  div {
    padding-left: .75rem;
  }
}
