.zone-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.zone-item {
  background-color: #fff;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: auto;
  list-style: none;
  margin-bottom: 1.5rem;

  aside {
    padding: .75rem;
    width: 100%;

    path {
      fill: white;
    }
  }

  section {
    padding: .75rem;
  }

  h4 {
    color: $color-primary;
    margin-bottom: .75rem;
  }

  .author {
    font-weight: 600;
  }
}
