@import 'color';
@import 'normalise';
@import 'base';
@import 'typography';
// @import '../../node_modules/milligram/src/milligram.sass';
@import 'button';
@import 'form';
@import 'image';
@import 'link';
@import 'list';
@import 'pageheader';
@import 'pagefooter';
@import 'stepspage';
@import 'configurationlist';
@import 'card';
@import 'modal';
@import 'code';
@import 'table';

ol::marker {
  color: #f00;
}

* {
  box-sizing: border-box;
}

.site-content {
  padding: 2rem;

  &.two-column {
    align-content: start;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* stylelint-disable-next-line */
#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  /* stylelint-disable-next-line */
  > main {
    overflow: scroll;
  }
}

.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;

  > .card {
    margin-bottom: 0;
  }
}


textarea {
  overflow: scroll;
}

.upload-button {
  margin-right: 1rem;

  input {
    clip: rect(0, 0, 0, 0);
    position: absolute;
    width: 0;
  }
}
