@import './Color.scss';
@import './Normalise.scss';
@import '../../node_modules/milligram/src/milligram.sass';
@import './Button.scss';
@import './Link.scss';
// @import './Pageheader.scss';
@import './Pagefooter.scss';
@import './Stepspage.scss';
@import './Configurationlist.scss';
@import './Card.scss';
@import './Modal.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: 0;
}

body {
  background-color: #f0efef;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  background-color: #fff;
}

ol::marker {
  color: #f00;
}

* {
  box-sizing: border-box;
}

.site-content {
  padding: 2rem;

  &.two-column {
    align-content: start;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* stylelint-disable-next-line */
#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  /* stylelint-disable-next-line */
  > main {
    overflow: scroll;
  }
}

.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;

  > .card {
    margin-bottom: 0;
  }
}


textarea {
  overflow: scroll;
}

.upload-button {
  margin-right: 1rem;

  input {
    clip: rect(0, 0, 0, 0);
    position: absolute;
    width: 0;
  }
}

pre {
  max-height: 40rem;
  overflow: scroll;
  tab-size: 2;
}
